.bg-verde{
    background-color: #e5fae9;
}
.btn-verde{
    background-color: #27a844;
    text-align: center;
    color: white;
    border: none;
}
.bg-gris{
    background-color: #6c757e;
}
.card {
    border: 0;
}
.verde {
    background-color: #27a844;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.bg-verdeclaro{
    background-color: #f5f9fc;
}
.txt-white{
    color: white;
}
button{ 
    outline:none;
}

.mbMenos{
    margin-bottom:-7px;
    padding-bottom:-7px;
}